@using System.Web.Mvc.Html
@model MVCSuscriptionSystem.Models.Cliente

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Telefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Telefonico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metodo_de_Pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodo_de_Pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVC_o_CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVC_o_CVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_expiracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_expiracion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
