@model IEnumerable<MVCSuscriptionSystem.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Clientes</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Crear Nuevo", "Crear", new {@class="btn btn-dark"})
        }
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Primer_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Telefonico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscripcion.Fecha_creacion);
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Telefonico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscripcion.Fecha_creacion)
        </td>
        <td>
            @Html.ActionLink("Detalles", "VerDetalles", new { id = item.ClientID })

            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("ModificiarCliente"))
                {
                   <span>|</span> @Html.ActionLink("Editar", "Modificar", new {id = item.ClientID})

                    
                }
            }
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("BorrarCliente"))
                {
                    <span>|</span>@Html.ActionLink("Borrar", "Borrar", new { id = item.ClientID })


                }
            }
            
        </td>
    </tr>
}

</table>
