@using System.Activities.Statements
@using MVCSuscriptionSystem.MethodManagers
@model MVCSuscriptionSystem.Models.Cliente

@{
    ViewBag.Title = "Ver Detalles";
}

<h2 class="display-4 text-center">Ver Detalles</h2>


<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Telefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Telefonico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

    </dl>
</div> 
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mb-3">
            <!--<img class="card-img-top" src="@ImagenManager.RetornarSourceImagen(Model.ImagenID)" alt="Card image cap">-->
            <div class="card-body">
                <h4 class="card-title">@Model.Primer_Nombre @Model.Primer_Apellido</h4>
                <p class="card-text">Fecha de creacion: <span class="text-muted">@Model.ClienteSuscripcions.First().Subscripcion.Fecha_creacion</span>
                </p>
                <p class="card-text">Correo electronico: <a href="mailto:@Model.e_mail">@Model.e_mail</a>
                </p>
                <p class="card-text"><small class="text-muted">Numero de Suscripciones: <span class="text-muted">@ViewBag.estado</span></small>
                </p>
            </div>
        </div>
    </div>
</div>

<hr/>
<div>
    @try
    {
        <h3>Suscripciones Activas del Cliente</h3>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Plan Suscrito</th>
                <th># de Servicios</th>
                <th>Precio</th>
                <th>Fecha Creacion</th>
            </tr>
            </thead>
            @foreach (var m in Model.ClienteSuscripcions)
            {
                <tr>
                    <th scope="row">@m.Subscripcion.SubscripcionID</th>
                    <td>@m.Subscripcion.Plan.Nombre</td>
                    <td>@m.Subscripcion.Plan.Precio</td>
                    <td class="text-center">@m.Subscripcion.Plan.ServicioEnPlans.Count</td>
                    <td class="text-center">@string.Format("US${0.00}",m.Subscripcion.Plan.Precio)</td>
                    <td class="text-center">@m.Subscripcion.Fecha_creacion</td>
                </tr>
            }

        </table>
    }catch(NullReferenceException e){ 
    
    <h2>No hay subscripciones</h2>
    }
</div>
<p>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("ModificarCliente"))
    {
        @Html.ActionLink("Editar", "Modificar", new {id = Model.ClientID}) |
    }
}
    @Html.ActionLink("Volver a Lista", "Index")
</p>
