@using MVCSuscriptionSystem.MethodManagers
@model MVCSuscriptionSystem.Models.Cliente

@{
    ViewBag.Title = "VerDetalles";
}

<h2>VerDetalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Telefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Telefonico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

    </dl>
</div>
<hr/>
<div>
    <h3>Datos de la subscripcion</h3>
    <dl>
        <dt>Plan al que esta suscrito</dt>
        <dd>@Model.Subscripcion.Plan.Nombre</dd>
        <dt>Precio</dt>
        <dd>@Model.Subscripcion.Plan.Precio</dd>
        <dt>Fecha de Creacion</dt>
        <dd>@Model.Subscripcion.Fecha_creacion</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Modificar", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
