<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css" rel="stylesheet"/>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -50px">
        <div class="container">
            <div class="navbar-header">         
                @Html.ActionLink("Suscripciones Intecianadas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand nombre-app" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-targer="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>@Html.ActionLink("Inicio", "Index", "Home",new {area = ""}, new {@class = "nav-link", id = "MItem1"})</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link", id = "MItem2" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new {area = ""}, new {@class = "nav-link", id = "MItem3"})</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
