@model MVCSuscriptionSystem.Models.Plan

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro de que desea borrar este Plan?</h3>
@*Esto lo estamos haciendo de esta manera porque no nos dio el tiempo para implementarlo mejor*@
<div class="alert alert-warning">Al borrar el plan todas las suscripciones que contienen este plan seran eliminadas.</div>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
