@model IEnumerable<MVCSuscriptionSystem.Models.Plan>

@{
    ViewBag.Title = "Planes";
}

<h2>Listado de PLanes</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear", new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Detalles", "VerDetalles", new { id = item.PlanID }) 
            
         
            
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("ModificiarPlan"))
                {
                    <span>|</span> @Html.ActionLink("Editar", "Modificar", new { id = item.PlanID })


                }
            }
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("BorrarPlan"))
                {
                    <span>|</span>@Html.ActionLink("Borrar", "Borrar", new {id = item.PlanID})


                }
            }
        </td>
    </tr>
}

</table>
