@model IEnumerable<MVCSuscriptionSystem.Models.Plan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.ActionLink("Details", "VerDetalles", new { id = item.PlanID }) 
            
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "Modificar", new {id = item.PlanID})<span>|</span>

                    @Html.ActionLink("Delete", "Borrar", new {id = item.PlanID})
                }
            }
        </td>
    </tr>
}

</table>
