@using MVCSuscriptionSystem.Models
@model MVCSuscriptionSystem.Models.Plan

@{
    ViewBag.Title = "Modificar";
    EntityModel db = new EntityModel();
}

<h2>Modificar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Plan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlanID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var ServPlan = db.ServicioEnPlans.Where(x => x.PlanID == Model.PlanID);
            var servicios = db.Servicios.Where(x => x.ServicioEnPlans != ServPlan).ToList();
            var Selectlist = new SelectList(servicios, "ServicioID", "Nombre");
        }
        <div class="form-group">
            @Html.DisplayFor(model => model.ServicioEnPlans, new { @class = "col-form-label" })
            @Html.DropDownListFor(model => model.ServicioEnPlans, Selectlist, "", new { multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.ServicioEnPlans, "", new { @class = "text-danger" })
            <br>
            <span class="text-muted">Presione ctrl para poder seleccionar mas de una opcion</span>
        </div>
        div class="list-group">
        @foreach (var modelServicioEnPlan in Model.ServicioEnPlans)
        {
            <a href="@Url.Action("RemoveService", "Plan",new{ServPlanId = modelServicioEnPlan.ServicioEnPlanID, PlanId = Model.PlanID})" class="list-group-item">@modelServicioEnPlan.Servicio.Nombre <span>&times;</span><a/>
        }
        <div/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
