@model MVCSuscriptionSystem.Models.Subscripcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubscripcionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
