@using System.Web.Mvc.Html
@model IEnumerable<MVCSuscriptionSystem.Models.Subscripcion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Image.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubscripcionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubscripcionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubscripcionID })
        </td>
    </tr>
}

</table>
