@model MVCSuscriptionSystem.Models.Servicio

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro de que desea borrar el Servicio?</h3>
<div>
    <h3 class="text-center">Servicio</h3>
   @if (@Model.IDErick != 0)
   {
       <h4 class="text-center">Servicio en WebApi de ERICK</h4>
   }
   else if (@Model.IDPedro != 0)
   {
       <h4 class="text-center">Servicio en Webservice de PEDRO</h4>
   }
    <hr/>
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
