@model IEnumerable<MVCSuscriptionSystem.Models.Servicio>

@{
    ViewBag.Title = "Servicios";
}

<h2>Servicios</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Crear Nuevo", "Crear")
        }
    }


    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>

            @Html.ActionLink("Ver Detalles", "VerDetalles", new { id = item.ServicioID }) 
          
            
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("ModificarServicio"))
            {
                
                    <span>|</span>
                    @Html.ActionLink("Editar", "Modificar", new {id = item.ServicioID})
                

            }
        }
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("BorrarServicio"))

            {
                    <span>|</span>
                    @Html.ActionLink("Borrar", "Borrar", new {id = item.ServicioID})
               


            }
        }
            
            </td>
    </tr>
}

</table>
