@model MVCSuscriptionSystem.Models.Servicio

@{
    ViewBag.Title = "Ver Detalles";
}

<h2>Ver Detalles</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Modificar", new {id = Model.ServicioID})

    |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
